@page "/addhamster"
<h3>AddHamsterForm</h3>

<EditForm Model="@NewHamster" OnValidSubmit="HandleSubmit">
    <div class="form-group">
    <InputText id="name" PlaceHolder="Name" @bind-Value="NewHamster.Name"></InputText>
    </div>
    <div class="form-group">
    <InputNumber id="age" PlaceHolder="Age"@bind-Value="NewHamster.Age"></InputNumber>
    </div>
    <div class="form-group">
    <InputText id="loves" PlaceHolder="Loves"@bind-Value="NewHamster.Loves"></InputText>
    </div>
    <div class="form-group">
    <InputText id="image" PlaceHolder="Image Url"@bind-Value="NewHamster.ImageUrl"></InputText>
    </div>

    <button class="btn btn-outline-dark btn-sm" type="submit">Submit</button>
    
</EditForm>
@code {
    public Hamster NewHamster { get; set; } = new Hamster();

    public void HandleSubmit()
    {

    }
}
