@inject IHttpServiceProvider service
<div class="col col-4 mt-4 mb-4">
    <div class="card rounded">
        <img class="card-img-top img-fluid" src="@Hamster.ImageUrl" />
        @ChildContent
    </div>
    
</div>



@code {

    //[Parameter]
    //public string? CardClass { get; set; }
    [Parameter]
    public Hamster? Hamster { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    //[Parameter]
    //public string ImageUrl { get; set; }
    //[Parameter]
    //public string Name { get; set; }
    //[Parameter]
    //public int Wins { get; set; }
    //[Parameter]
    //public int Defeats { get; set; }
    //[Parameter]
    //public string ButtonText { get; set; } = "";
    //private IEnumerable<Hamster> LosingHamsters { get; set; }

    //private async void LoadHamsterStatistics(int id)
    //{
    //    //TODO: fixa så att när man klickar på en hamster i galleriet så ska ett boostrap table visas med matchhistorik på hamstrar denne besegrat
    //    LosingHamsters = await service.GetHamsterMatchData(id);
    //}

}