@inject IRequestService service

<div class="col col-4 mt-4 mb-4">
    <div class="card rounded">
        @*this tries to render the image path applied to the hamster, if no image was found, i render a static default image*@
        <img class="card-img-top img-fluid" src="@Hamster.ImageUrl" onerror="this.onerror=null; this.src='/Content/Images/hamstahh.png'" />
        @ChildContent
    </div>
</div>



@code {

    [Parameter]
    public Hamster? Hamster { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    //private async void LoadHamsterStatistics(int id)
    //{
    //    //TODO: fixa så att när man klickar på en hamster i galleriet så ska ett boostrap table visas med matchhistorik på hamstrar denne besegrat
    //    LosingHamsters = await service.GetHamsterMatchData(id);
    //}

}