@page "/"

<PageTitle>Home</PageTitle>

<div class="homepage-title">
    <h1 class="h1-homepage">Hamster Wars</h1>
</div>

<div class="homepage-paragraph">
    <h3>
        Click the button to start a random battle
    </h3>
</div>


<img class="logo1" src="/Content/Images/logo2.png"/>

<NavLink class="btn btn-dark btn-lg" href="battle">
    Start Battle
</NavLink>

